
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** END CSS RESET**/

.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*******End CSS RESET*******/


.top-links ul {
	margin: 20px 15px 0 0;
	font-size: 14px;
	float: right;
}

.top-links ul li {
	display: block;
	float: left;
	margin-right: 18px;

}

.top-links ul li a {
	text-decoration: none;
	color: #000;
	font-family: arial,sans-serif;
	display: block;

}

.top-links ul li a:hover {
	text-decoration: underline;
}

#button1 {
	border: 1px solid black;
	height: 30px;
	padding: 8px 13px;
	background-color: #4583EE;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	position: relative;
	bottom: 7px;
	border-radius: 2px;
	display: block;
}

#button1:hover {
	text-decoration: none;
}



#grid-image {
	width: 22px;
	height: 22px;
	position: relative;
    bottom: 5px;
}


#google-logo {
	display: block;
	width: 265px;
	margin: 0 auto;
}

input {
	display: block;
	margin: 30px auto 0;
	width: 569px;
	height: 29px;
	border: 1px solid rgba(0, 0, 0, 0.15);
}

input:hover {
	border-color: #B2B2B2;
}

input:focus {
	border-color: #4285F4;
}

#button-div {
	width: 569px;
	margin: 0 auto;
}

#button-wrapper {
	width: 245px;
	margin: 15px auto;
}

.button {
	display: inline-block;
	background-color: #F2F2F2;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #444;
	
}

.button:hover {
	color: #222222;
}

#search {
	
	height: 30px;
	border: 1px solid #DCDCDC;
	border-radius: 3px;
	padding: 8px 10px;
}


#lucky {
	
	height: 30px;
	border: 1px solid #DCDCDC;
	float: right;
	border-radius: 3px;
	padding: 8px 10px;
}




footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #F2F2F2;
	height: 45px;
	font-family: arial, sans-serif;
	font-size: 12.5px;
}

footer ul li a {
	text-decoration: none;
	color: #868686;
}

footer ul li a:hover {
	text-decoration: underline;
}

#left-footer {
	float: left;
	margin-left: 15px;
	padding-top: 5px;
}

#right-footer {
	float: right;
	margin-right: 15px;
	padding-top: 5px;
}


#left-footer ul li {
	display: inline-block;
	margin: 15px 10px 0 20px;
	float: left;
}

#right-footer ul li {
	float: left;
	margin: 15px 10px 0 20px;
}


#wrapper {
	position: relative;
	top: 140px;
}


